<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>AD</b>S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>AdevaS</b>ystem</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <%#= render 'layouts/mainHeader/userMessages.html.erb' %>

        <!-- Notifications Menu -->
        <%#= render 'layouts/mainHeader/userNotificationsMenu.html.erb' %>

        <!-- Tasks Menu -->
        <%#= render 'layouts/mainHeader/userTasksMenu.html.erb' %>

        <!-- User Account Menu -->
        <%= render 'layouts/mainHeader/userAccountMenu.html.erb' %>
        
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
