<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <%#= render "layouts/mainSidebarUserPanel" %>

    <!-- search form (Optional) -->
    <%#= render "layouts/mainSidebarSearchForm" %>

    <!-- Sidebar Menu -->
    <%= render "layouts/mainSidebarMenu" %>
  </section>
  <!-- /.sidebar -->
</aside>
