<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= controller_name.titleize.singularize %>
      <!-- <small>Optional description</small> -->
    </h1>
    <ol class="breadcrumb">
      <li><a href=""><i class="fa fa-dashboard"></i> <%= controller_name.titleize.singularize %></a></li>
      <li class="active"><%= action_name.titleize %></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
    <%= yield %>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
